.App {
  border: 3px solid #6d6b6b;
  margin: 50px auto;
  padding: 25px 15px;
  width: 300px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.to-do-container {
  display: flex;
  flex-direction: column;
}
.to-do-container ul li {
  width: 180px;
  overflow-wrap: break-word;
  list-style-type: "👉";
  cursor: pointer;
}
.done {
  text-decoration: line-through;
}
.item {
  display: flex;
  justify-content: space-between;
}
.item span {
  cursor: pointer;
}
.add {
  width: 140px;
  text-align: center;
  margin: auto;
  margin-top: auto;
  margin-top: 15px;
  padding: 5px 0;
  outline: none;
  border: none;
  border-radius: 6px;
  text-transform: capitalize;
  cursor: pointer;
}
.App input {
  padding: 8px 4px;
  outline: none;
  border: 1px solid #e0d4d4;
  border-radius: 4px;
}
